html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('https://static.vecteezy.com/system/resources/previews/009/362/398/non_2x/blue-dynamic-shape-abstract-background-suitable-for-web-and-mobile-app-backgrounds-eps-10-vector.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    color: #333;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
    background-color: rgba(255,255,255,0.85);
    padding: 1rem 0;
}

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
    text-align: start;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.7);
    z-index: -1;
}


/* Box Chat */
.chat-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    z-index: 9999; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.chat-header {
    cursor: pointer;
}

.chat-body {
    display: block;
    max-height: 250px;
    overflow-y: auto;
}

.chat-box.collapsed .chat-body {
    display: none;
}
